#header {
  font-family: 'Roboto-Mono', monospace;
}

#title {
  font-size: 24px;
  color: #666;
  font-variant: small-caps;

}

ul.nav {
  list-style: none;
  margin: 0px;

}

#nav {
  justify-content: flex-end;
  color: #6A9FFC ;
}

.nav li {
  display: inline-block;
  margin: none;
  padding: 1em;
}

.nav a {
  text-decoration: none;
  color: inherit;
}

.nav :hover {
  text-decoration: underline;
}

.wrapper {
  width: 100%;
}

.header {
  width: 95%;
  min-height: 100px;
  margin: 0 auto;
  display: -webkit-flex; /* Safari */
  display: flex; /* Standard syntax */
}

.header .column{
  padding: 10px;
  align-items: center;
  display: flex;
  -webkit-flex: 1; /* Safari */
  -ms-flex: 1; /* IE 10 */
  flex: 1; /* Standard syntax */
}

.content {
  min-height: 600px;
  display: flex;
  margin: 0 auto;
  width: 95%;
  background: #eee;
  overflow: hidden;
}

#map {
  position: absolute;
  top: 12%;
  bottom: 0%;
  width: 95%;  */
}

#b1 {
  /* position: absolute;
  height: 100px;
  width: 100px; */
  background-color: #aabb66

}

#b2 {
  background-color: #4499AA

}

#b3 {
  background-color: #aa4466
}

#infoCard {
  position: relative;
  left: -50%;
  transition: left 0.5s;
  padding: 1em;
  font-family: 'Roboto-Mono', monospace;
  background-color: #fcfbff;
  opacity: 0.8;
  width: 50%;
}

#infoCard.visible {
  position: relative;
  left: 0;
}

.infoHeader {
  font-variant: small-caps;
  font-size: 28px;
  overflow: scroll;
  max-height: 75%;
}

body { margin: 0; padding: 0; }
